<section class="w-5/6 mx-auto">
  <h1 class="text-3xl text-blue-700 text-center font-bold">Reservas</h1>
  <div
    *ngIf="reservations.length > 0; else emptyCart"
    class="flex flex-col h-5/6 mt-4"
  >
    <div class="card flex justify-content-center"  *ngFor="let reservation of reservations">
    <p-accordion [activeIndex]="0" >
        <p-accordionTab [header]="'Reserva N°: ' + reservation.id">
            <app-reservation-table [reservations]="reservation.reservation" (selectedRow)="handleSelection($event)"></app-reservation-table>
        </p-accordionTab>
    </p-accordion>
</div>
  </div>
  <ng-template #emptyCart
    ><p class="text-lg text-gray-800 text-center">
      No hay reservas guardadas
    </p></ng-template
  >

</section>
